.modal{
    overflow: hidden;
}
.card-item-shower{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x:hidden; 
    padding: $m-size;
}
.item-list{
    background-color: #f1f1f1;
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 768px) {
        height:auto;
    }
}