$xxs-size: 0.5rem;
$xs-size: 0.9rem;
$s-size: 1.2rem;
$xs-size: 1.4rem;
$m-size: 1.6rem;
$mx-size: 2.0rem;
$mxx-size: 2.5rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$xxl-size: 8.5rem;
$desktop-breakpoint: 76.8rem;
//font-size
$font-size-xtitle: 5.0rem;
$font-size-title: 4.0rem;
$font-size-xxlarge: 3.0rem;
$font-size-xlarge: 2.4rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
$font-size-xsmall: 0.9rem;
$font-size-xxsmall: 0.5rem;
//color
$blue: #1c88bf;
$red: rgb(184, 57, 57);
$dark-grey: #333;
$dark-black:#212529;
$dark-blue: #364051;
$off-white: white;
$grey: #666;
//Font-family
$fancy-font: 'Gochi Hand', cursive;